* {
	font-family: "JetBrains Mono Nerd Font";
	font-size: 14px;
	font-weight: bold;
	color: #C0CAF5;
}

window#waybar {
	background: #1A1B26;
	border-bottom: 2px solid #7AA2F7;
}

#workspaces button {
	border-radius: 0;
	padding: 0px 5px;
}

#workspaces button.active {
	border-bottom: 3px solid #F7768E;
}

#workspaces button.urgent {
	border-bottom: 3px solid #9ECE6A;
}

#workspaces button.urgent label {
	color: #9ECE6A;
}

#window,
#memory,
#cpu,
#battery,
#pulseaudio,
#clock {
	padding: 0px 10px;
	background-image: linear-gradient(#7AA2F7, #7AA2F7);
	background-size: 1px 60%;
	background-repeat: no-repeat;
	background-position: left center;
}


#battery.full {
	color: #9ECE6A;
}

#battery.warning {
	color: #FABA4A;
}

#battery.critical {
	color: #F7768E;
}

#pulseaudio.muted {
	color: #F7768E;
}
